@model List<CityTravelProject.PresentationLayer.Dtos.TravelDestinationsDtos.ResultTravelDestinationsDto>
@{
    int count = 0;
}
<!-- HTML içinde image URL'lerini alıp bir liste oluşturun -->
@* <div id="imageUrls" style="display: none;">
    @foreach (var item in Model)
    {
        <div>@item.ImageURL</div>
    }
</div> *@

<section class="w3l-specification-6">
    @* <div class="specification-layout editContent">
    <div class="container-fluid">
    <div class="row text-left img-grids">
    <div class="col-lg-12 p-0">
    <div class="four-grids">
    @foreach (var item in Model)
    {
    <div class="images-text">
    <div class="ser-bg1">
    <div class="p-md-3 p-3">
    <h4><a href="#url">@item.Title</a></h4>
    <p>@item.Description</p>
    </div>
    </div>
    </div>
    }
    </div>
    </div>
    </div>
    </div>
    </div>*@
    

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                if (count < 6)
                {
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="@item.ImageURL" alt="Lights">
                            <div class="caption">
                                <p>@item.Title</p>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
                }
                count++;
            }
        </div>
    </div>


</section>


